[Unit]
Description=Blora Panel Master
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=blora-master
Group=blora-master
WorkingDirectory=/opt/blora/master
ExecStart=/opt/blora/master/blora-master
Restart=on-failure
RestartSec=5s
TimeoutStopSec=30s
UMask=0077

[Install]
WantedBy=multi-user.target
